*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  outline: none;
}
img{
  width: 300px;
  height:auto;
}
:root{
  --primary: #5ab6f0;
}
button{
  background-color: var(--primary);
  border-radius: 5px;
  padding: 8px;
  border: none;
  margin:10px 0 5px 0;
  color: white;
}
button:hover{
  color: black;
}
.parent{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.child{
  width: 100%;
  border-bottom: 1px solid grey;
  display: flex;
  justify-content: center;
  align-items: center;
}
.child1 {
  text-transform: uppercase;
  justify-content: space-between;
  border-top: 5px solid;
  height: 100px;
}

.logo {
  display: flex;
  justify-content: center;
  align-items:center;
  flex-direction: column;
  margin-left: 30px;
}
.logo h2 {
  font-size: 30px;
}
.logo p {
  font-size: 12px;
}
.menu-list ul{
  display: flex;
}
.menu-list ul li{
  margin: 5px;
  padding: 5px;
}
.menu-list ul li:hover,.menu-list ul li:nth-child(1){
  color: var(--primary);
}
.child2{
  padding: 40px 20px;
  display: flex;
  justify-content:space-evenly;
}
.child2 img {
  width: 600px;
  border-radius: 5px;
  margin: 0 50px;
}
.child2 h2,.child2 p, .child2 button {
  margin-left: 20px;
}
.child2 h2{
  text-transform: uppercase;
  font-size: 42px;
  margin-bottom: 15px;
}
.child2 p {
  font-size: 24px;
  text-align: justify;
  margin-bottom: 15px;
  color: grey;
}
.child3{
  padding: 30px 0;
  text-align: justify;
}
.photo-content{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  margin: 0 15px;
  padding: 0 15px;
}
.photo-content img {
  width: 450px;
}
.photo-content h2{
  text-transform: uppercase;
  margin: 15px 0;
}
.photo-content p {
  font-size: 20px;
}
.photo-content button,.photo-content h2{
  align-self: flex-start;
}
.child4{
  height: auto;
  padding: 30px;
  border: none;
}
.child4 p{
  width: 800px;
  text-align: center;
  font-size: 24px;
  font-style: italic;
}
.child5{
  padding: 30px 0;
  flex-direction: column;
}
.child5 img {
  width: 100px;
  height: 100px;
  padding: 5px;
  border: 1px solid grey;
}
.parts{
  margin: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.mini-content {
  display: flex;
  margin-right: 10px;
}
.mini-content-detail{
  margin-left: 10px;
  text-align: justify;
}
.mini-content-detail h2 {
  color: var(--primary);
  text-transform: capitalize;
}
.child6{
  border: 5px solid red;
  padding: 30px 20px;
  border: none;
  color: white;
  background-color: rgb(50, 50, 50);
  align-items: flex-start;
  justify-content: space-around;
}
.footer-content{
  display: flex;
  flex-direction: column;
}
.footer-content h2{
  text-transform: capitalize;
  margin: 10px 0;
}
.footer-content h3{
  text-transform: capitalize;
}
.footer-content p {
  text-align: justify;
}
.footer-content li{
  padding: 5px 0;
}
.footer-content a {
  color: var(--primary);
  text-decoration: none;
}
.footer-content:nth-child(3) {
  width: 25%;
}
.footer-content:nth-child(3) a{
  margin-top: 5px;
  align-self: flex-end;
}
.footer-content form{
  display: flex;
  flex-direction: column;
}
form button{
  width: 100px;
  text-transform: uppercase;
}
input {
  background-color: black;
  color: white;
  border: none;
  padding: 3px 5px;
  font-size: 18px;
  height: 40px;
  margin: 3px;
  border-radius: 5px;
}
input::placeholder{
  color: white;
}
.child7{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  color: white;
  background-color: rgb(23, 23, 23);
  text-transform: capitalize;
}